<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tag Photo</title>
  <link rel="stylesheet" href="style.css">
  <script src="underscore.js"></script>
  <script src="jquery-1.9.1.js"></script>
  <script src="script.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="photo"><%= image_tag("LOTR-Family.jpg") %></div>
<button id="clear" value="Clear Tags" type="Submit">Clear Tags</button>
<button id="reload" value="Reload Tags" type="Submit">Reload Tags</button>
<input id="createTag" value="createTag" type="text_field">
</body>
</html>
